<div class="like-teaser">
  <a href="{{ content.field_url_fr.0 }}" class="teaser-link">
    <h3>{{ label }}</h3>
    <div class="published-on">{{ node.createdtime|date('d.m.Y') }}</div>
  </a>
</div>
