{#
  * Template - Page : Page
  * @author Jérémie Anderlin <jeremie@inphoenity.com>
#}

	<!-- Main-Content -->

<div class="main-content-wrapper">
  <div class="main-bkg">  </div>
  <div class="main-content">
  	{{ page.content }}
  </div>
</div>
	<!-- /Main-Content -->
