{#
  * Template - Page : Page
  * @author Jérémie Anderlin <jeremie@inphoenity.com>
#}

	<!-- Main-Content -->
  <div class="main-content-wrapper">

      	{{ page.content }}
        <button  onclick="javascript:window.print()" class="btn-print">{% trans %}Print{% endtrans %}</button>
  </div>
	<!-- /Main-Content -->
