@mixin mybutton($color, $txt-color) {
	display: inline-block;
	text-decoration:none;
	padding: 8px 14px 10px 14px;
	background-color:transparent;
	margin-top: $padding-default;
	font-size: $eta;
	border: 2px solid $color;
	color: $color;

	&:hover {
		color: $txt-color;
		background-color: $color;
	}
}

input.button, a.button, button, .btn-style {
	display: inline-block;
	text-decoration:none;
	padding: 4px 20px 4px 20px;
	margin-top: $padding-default;
	@extend .txt-size;
	text-transform: uppercase;
	border: none;
	color: white;
	background-color: $gray-300;
	position: relative;
	background-image: none;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: left top;

	&:hover {
		background-color: $gray-base;
	}


	&:focus {
		outline: none;
	}


}

.btn-print {
	display: none;
}

.path-mes-likes, .path-mes-bookmarks, .path-mes-commentaires {
	.btn-print {
		display: block;
	}
}


@media print {

	#block-marquedusite, {
		font-size: 18px !important;
	}

	.btn-print {
		display: none;
	}



	.region-content>.menu--account ul li {
		display: none;

		&.menu-item--active-trail {
			display: block;

			a {
				display: inline-block;
				padding: 0 0 0 0px;
				margin: 0 auto;
				min-height: 0;
				text-align: center;
				font-size: 20px;
				font-weight: bold;
				position: relative;
				color: $gray-700;

				&:before {
						display: none;
				}
			}
		}
	}
}
