// Reset

.menu-item {
    padding:0;
    margin: 0;
}

ul.menu {
  margin-left: 0;
}


#block-marquedusite {
  font-size: 28px !important;
  line-height: 30px !important;
  font-weight: bold;
  color: $gray-base !important;
  margin-bottom: 25px;
}

.region-content > .menu--account {
  width: 100%;
  margin-bottom: 20px;

  .contextual {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      background-color: $gray-100;
      width: calc(100% + 80px);
      left: -40px;
    }

    li {
      flex-grow: 1;

      &:nth-child(1) {
        a {
          &:before {
              background-image: url(images/icons/like.svg);
          }

          &:hover, &.is-active {
            &:before {
              background-image: url(images/icons/like-red.svg);
            }
          }
        }
      }

      &:nth-child(2) {
        a {
          &:before {
              background-image: url(images/icons/bookmark.svg);
          }

          &:hover, &.is-active {
            &:before {
              background-image: url(images/icons/bookmark-yellow.svg);
            }
          }
        }
      }

      &:nth-child(3) {
        a {
          &:before {
              background-image: url(images/icons/comment.svg);
          }

          &:hover, &.is-active {
            &:before {
              background-image: url(images/icons/comment-green.svg);
            }
          }
        }
      }

      &:nth-child(4) {
        a {
          &:before {
              background-image: url(images/icons/account.svg);
          }

          &:hover, &.is-active {
            &:before {
              background-image: url(images/icons/account-purple.svg);
            }
          }
        }
      }

      &:nth-child(5) {
        a {
          &:before {
              background-image: url(images/icons/logout.svg);
          }

          &:hover, &.is-active {
            &:before {
              background-image: url(images/icons/logout-grey.svg);
            }
          }
        }
      }

      a {
        display: inline-block;
        padding: 53px 10px 10px 10px;
        margin: 0 auto;
        min-height: 89px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        position: relative;

        @include media-breakpoint-down(xs) {
          min-height: 70px;
          overflow: hidden;
          width: 60px;
          text-indent: -9999px;
        }


        &:before {
          content: "";
          position: absolute;
          top: 25px;
          margin: 0 auto;
          width: 35px;
          height: 21px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background-size: auto 21px;
          background-repeat: no-repeat;
          background-position: top center;
        }
      }
    }
  }
}
