// Reset

.menu-item {
    padding:0;
    margin: 0;
}

ul.menu {
  margin-left: 0;
}


#block-marquedusite {
  @extend .h3;
  font-weight: bold;
  color: $gray-base;
  margin-bottom: 20px;
}

.region-content > .menu--account {
  width: 100%;
  margin-bottom: 20px;

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;

    li {
      flex-grow: 1;

      &:nth-child(1) {
        a {
          &:before {
              background-image: url(images/icons/like.svg);
          }
        }
      }

      &:nth-child(2) {
        a {
          &:before {
              background-image: url(images/icons/bookmark.svg);
          }
        }
      }

      &:nth-child(3) {
        a {
          &:before {
              background-image: url(images/icons/comment.svg);
          }
        }
      }

      &:nth-child(4) {
        a {
          &:before {
              background-image: url(images/icons/account.svg);
          }
        }
      }

      &:nth-child(5) {
        a {
          &:before {
              background-image: url(images/icons/logout.svg);
          }
        }
      }

      a {
        display: inline-block;
        padding: 10px;
        margin: 0 auto;
        min-height: 74px;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        position: relative;
        padding-top: 38px;

        &:before {
          content: "";
          position: absolute;
          top: 10px;
          margin: 0 auto;
          width: 35px;
          height: 21px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background-size: auto 21px;
          background-repeat: no-repeat;
          background-position: top center;
        }
      }
    }
  }
}
