.path-user {
  background-color: white;

  .forgot-password {
    padding-top: 25px;

    @extend .txt-size;

    a {
      @extend .txt-size;
      font-weight: bold;
      text-decoration: underline;

      &:hover {
        color: $gray-700;
      }
    }
  }


  .login-btn-wrapper {
      padding-top: 15px;
      border-top: 1px solid $gray-700;
      margin-top: 20px;

      h4 {
        @extend .txt-size-2;
        font-weight: 500;

      }

      a {
        @extend .button;
        text-transform: none;
        position: relative;
        font-size: 16px;
        padding: 10px 16px 10px 30px;
        background-color: $gray-200;
        color: $gray-base;
        border: 1px solid $gray-200;

        &:hover {
          color: white;
          border: 1px solid $gray-base;
        }


        &.login-btn {
          &:before {
            content: "";
              position: absolute;
              background-image: url(images/icons/view-more-revert.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 12px;
              width: 12px;
              height: 12px;
              left: 10px;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
          }

          &:hover {
            color: white;

            &:before {
              content: "";
              background-image: url(images/icons/view-more-white-revert.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 12px;
            }
          }
        }

        &.sign-up-btn {
          &:before {
            content: "";
              position: absolute;
              background-image: url(images/icons/view-more.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 12px;
              width: 12px;
              height: 12px;
              left: 10px;
              top: 50%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
          }

          &:hover {
            color: white;
            &:before {
              content: "";
              background-image: url(images/icons/view-more-white.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 12px;
            }
          }
        }

        &:hover {
            color: $gray-700;
        }
      }
    }


  #edit-submit {
    margin-top: 15px;
  }

  a.button {
    margin-top: 15px;
  }

  .button.facebook {
    background-color: #3b5998;
    margin-right: 10px;

    &:hover {
      background-color: darken(#3b5998, 2%);
    }
  }

  .button.google {
    background-color: #d93025;

    &:hover {
      background-color: darken(#d93025, 2%);
    }
  }

  .dialog-off-canvas-main-canvas {
    & > .button {
      margin-left: 0;
    }
  }


    .form-item {
      margin-bottom: 10px;

      & > label {
        display: block;
        @extend .txt-size;
        font-weight: bold;
      }

      .description {
        margin-top: 5px;
        @extend .small-size;
      }

  }

}

.contextual-region.profile {
  & > div.form-item:first-child {
    display: none;
  }
}

.like-teaser {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-700;

  .teaser-link {
    display: flex;
    align-items: center;

    .object-img {
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 20px;
      background-color: $gray-200;
      background-position: center;
    }

    h3 {
      color: $gray-700;
    }

    &:hover {
      h3 {
        color: inherit;
      }
    }
  }
}
