.path-user {
  padding: 40px;
  background-color: white;

  .forgot-password {
    padding-top: 25px;

    @extend .txt-size;

    a {
      @extend .txt-size;
      font-weight: bold;
      text-decoration: underline;

      &:hover {
        color: $gray-700;
      }
    }
  }

  .dialog-off-canvas-main-canvas {
    & > div:first-child {
      a {
        @extend .txt-size;
        text-decoration: underline;
        font-weight: bold;

        &:hover {
            color: $gray-700;
        }
      }
    }
  }

  .region-content {
    margin-top: 20px;
  }

  #edit-submit {
    margin-top: 15px;
  }

  a.button {
    margin-top: 15px;
  }

  .dialog-off-canvas-main-canvas {
    & > .button {
      margin-right: 15px;
      margin-left: 0;

      &:nth-child(3) {
        background-color: #3b5998;

        &:hover {
          background-color: darken(#3b5998, 5%);
        }
      }

      &:nth-child(4) {
        background-color: #d93025;

        &:hover {
          background-color: darken(#d93025, 5%);
        }
      }
    }
  }

  .user-login-form {
    .form-item {
      margin-bottom: 10px;

      & > label {
        display: block;
        @extend .txt-size;
        font-weight: bold;
      }

      .description {
        margin-top: 5px;
        @extend .small-size;
      }
    }
  }

}
